/* basic elements */
html {
	margin: 25;
	padding: 15;
	height: 100%;
    padding-left: 50px;
    padding-right: 50px;
	}

body { 
	font: 100% Verona-Serial, sans-serif;
	line-height: 1.2em;
	color: #000000; 
	height:100%;
    margin: 10%;
    align-items: center;
    margin-right: 10%;
    background-image: url('./big.png');
    background-repeat: repeat-y;
    background-size: cover;
    }

    img {
        border: 4px solid rgb(126, 108, 173); 
        size: initial;
        align-self: center;
      }
header {  
        background-color: transparent;  
        position: relative;  
        left: 0;  
        right: 0;  
        top: 5px;
        padding-bottom: 15px;  
        height: 30px;  
        display: flex;  
        align-items: center;  
        }  
header * {  
    display: inline;  
    }  
header li {  
    margin: 25px;  
    }  
header li a {  
    color: rgb(158, 46, 115);  
    font: 100% Verona-Serial-Light, sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 24px; 
    text-decoration: none;
}
a {
    color: rgb(231, 217, 137);
    font: 100% Verona-Serial-Light, sans-serif;
    font-weight: lighter;
    text-align: right;
    font-size: 14px;
}

pre {
    display: block;
	font-family: Verona-Serial-Light;
	white-space: pre-wrap;
    font-size: 22px;
    line-height: normal;
	margin: 1em 0;
    }
p { 
    margin-top: 0; 
    text-align: left;
    }
        
h1 { 
     font: bold 2em Verona-Serial;
     letter-spacing: 0em;
     white-space: pre; 
     line-height: 0.82;
     font-size: 700%;
    }

    h2 { 
        font: normal 2em Verona-Serial;
        letter-spacing: 0em;
        white-space: pre-wrap; 
        font-size: 300%;
       }

    h6 { 
        font: normal 2em Verona-Serial-Light;
        letter-spacing: 0em;
        white-space: pre-wrap; 
        font-size: 230%;
       }
    
    h7 { 
        font: bolder 2em Verona-Serial;
        letter-spacing: 0em;
        text-align:center;
        white-space: pre-wrap; 
        font-size: 250%;
       }
    
    
h3 { 
    font: normal 1.4em Verona-Serial;
    letter-spacing: 0em; 
    text-align:center;
    line-height: .8;
    white-space: pre-wrap;
    margin-bottom: 1em;
    font-size: 150%;
    }

h4 { 
        font: normal 1.4em Verona-Serial-Light;
        letter-spacing: 0em; 
        text-align:left;
        white-space: pre-wrap;
        margin-bottom: 1em;
        font-size: 100%;
        }
h5 { 
            font: normal 2em Verona-Serial;
            letter-spacing: 0em;
            white-space: pre-wrap; 
            font-size: 150%;
           }



.big1 {
    font-size: 24px;
    color: rgb(245, 192, 148);
}
.big2 {
    font-size: 24px;
    color: rgb(34, 82, 185);
}

.name {
    font: normal 2em Verona-Serial;
    font-size: 26px;
    color:rgb(82, 90, 9)
}

.description {
    font: normal 2em Verona-Serial;
    font-size: 22px;
    color:olive 
}

.title-box {
    background-color: #3e678f;
    color: #fff;
    padding: 0px 10px; 
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    }
    
    .subtitle-box {
        background-color: #84a18a;
        color: #fff;
        padding: 0px 10px; 
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        }

.column {
    background-color: #3e678f;
    float: left;
    width: 35%;
    padding: 0.1em;
    }

.subtitle {
    font: normal 1.4em Verona-Serial;
    font-size: 18px;
    margin-top:auto; }

    .subtitle2 {
        font: normal 1.4em Verona-Serial;
        font-size: 18px;
        text-align: center;
        margin-top:auto; }

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    }
.subcontainer {
    display: flex;
    align-items: center;
    margin: 25px;

}

.image {
    flex-shrink: 100;
    align-items: center;
    }

.text{
    margin: 15px;
}
